<h3>Cadastrar Empregado</h3>

<div class="well">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="empregado.nome">
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="empregado.email">
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Projetos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let projeto of projetos; #id=index">
                        <td>
                            <input type="checkbox" value="{{projeto.id}}"  [ngModel]="projeto.selected" (change)="checkbox(projeto)"> {{projeto.nome}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="form-group text-center">
            <button class="btn btn-success" (click)="cadastrar()">
                Cadastrar
            </button>
            <a class="btn btn-default" [routerLink]="['/empregado-listar']">
                Voltar
            </a>
        </div>
    </form>
</div>